# Dependencies
**/node_modules
/.pnp
.pnp.*

# Next.js
frontend/.next/
frontend/out/

# Production Build
frontend/build
backend/dist

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
frontend/.vercel
backend/generated/prisma
